<div id="hero">
	<div id="logo-container">
    <h1 id="title">Your Open Marketplace</h1>
		<form method="POST" >
			<input id="search" type="text" class="form-control" placeholder="I'm looking for..."/>
		</form>
	</div>
</div>
