<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Foods</h1>
    <p><%= link_to "Sign Up To Order Food", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="grid">
  <div class="row">
    <% @foods.each do |food| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to (image_tag food.image.url(:medium), class: 'image'), food %>
          <%= food.name %>
          <span class="money">$<%= food.price %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>