<div class="container">
  <h1>Items For Sale</h1>
  <div class="grid">
    <div class="row">
      <% @foods.each do |food| %>
        <div class="col-md-3">
          <div class="thumbnail">
            <%= link_to (image_tag food.image.url(:medium), class: 'image'), food %>
            <%= food.name %>
            <span class="money right">$<%= food.price %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>