<%= content_for :head do %>
  <script type="text/javascript" src="<%= GMAPS_API_URL %>"></script>
<% end %>

<script>
var geocoder;
var map;
var marker;
function initialize() {
  geocoder = new google.maps.Geocoder();
  var mapOptions = {
    zoom: 15,
    mapTypeId: 'roadmap'
  }
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  // Geolocation
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var lat = position.coords.latitude;
      var lng = position.coords.longitude;
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);

      map.setCenter(pos);
      marker = new google.maps.Marker({
          position: pos,
          map: map,
          draggable: true
      });

      reverse_geocode(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
      // Browser doesn't support Geolocation
      handleNoGeolocation(false);
  }
}

function reverse_geocode(pos) {
  geocoder.geocode({'latLng': pos}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      console.log(results);
      if (results[0]) {
        marker.setPosition(pos)
        google.maps.event.addListener(marker, "dragend", function(e) {
          var pos = marker.getPosition();
          reverse_geocode(pos);
          map.panTo(point);
        });
        var address = results[0].formatted_address;
        document.getElementById('food_seller_location').value = address;
      } else {
        alert('No results found');
      }
    } else {
      alert('Geocoder failed due to: ' + status);
    }
  });
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  map.setCenter(options.position);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="row">
  <div class="col-md-6" id="food-wrapper">
    <h1>New food</h1>
    <%= render 'form' %>
  </div>

  <div class="col-md-6" id="map-wrapper">
    <div id="map-canvas"></div>
  </div>
</div>
