@charset 'utf-8';

@import "normalize-rails";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background: whitesmoke;
}

.money {
  float: right;
  color: green;
  font-weight: bold;
  padding-right: 1em;
}

.grid {
    padding-top: 5em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
}

#hero {
	height: 100%;
	width: 100%;
}

#welcome{
	height:100%;
	width:100%;
	position: absolute;
	display: table;
	text-align: center;
	background-repeat: no-repeat;
	/* background: #006400; */
    background-image: url(http://maps.googleapis.com/maps/api/staticmap?center=39.9583587,-75.1953934&scale=2&zoom=13&format=png&sensor=false&size=640x480&maptype=roadmap&style=feature:road.highway|visibility:off&style=feature:road.arterial|visibility:off&style=feature:transit.station|visibility:off&style=saturation:-81|hue:0x08ff00|lightness:-40|gamma:0.2&style=feature:administrative.neighborhood|visibility:off&style=feature:poi|element:labels|visibility:off&style=element:labels|visibility:off);
	background-size: cover;
	background-position: center;
}

#logo-container{
	max-width: 100%;
	margin: auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
	font-size: 25pt;
}

h1#title {
	font-size: 2em;
	font-family: Cabin;
}

#search {
	margin: auto;
	color: white;
    width: 500px;
    max-width: 100%;
    padding: 0 1em 0 1em;
    background: rgba(0, 0, 0, 0.1);
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li {
  color: #000;
}

/* User sign in and sign forms. */
.border-form-div {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
           border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
    margin-bottom: 10px;
}

.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

#map-wrapper {
    position: relative;
    height: 500px;
}

#map-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
}

.form-inputs, .form-actions {
    padding: 20px;
}
