@charset 'utf-8';

@import "normalize-rails";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Vast+Shadow);

.money {
  float: right;
  color: green;
  font-weight: bold;
  padding-right: 1em;
}

.grid {
  padding: 2em;
}

#welcome {
	height: 100%;
	width: 100%;
	position: absolute;
	display: table;
	text-align: center;
	background-repeat: no-repeat;
	background-image: url("http://maps.googleapis.com/maps/api/staticmap?center=39.95074,-75.149746&scale=2&zoom=13&format=png&sensor=false&size=640x480&maptype=roadmap&style=feature:road.highway|visibility:off&style=feature:road.arterial|visibility:off&style=feature:transit.station|visibility:off&style=saturation:-81|hue:0x08ff00|lightness:-40|gamma:0.2&style=feature:administrative.neighborhood|visibility:off&style=feature:poi|element:labels|visibility:off");
	background-size: cover;
	background-position: center;

}

#logo-container {
	max-width: 100%;
	margin: auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
	font-size: 25pt;
}

#title {
	font-size: 5em;
	margin-bottom: 0px;
	font-family: 'Vast Shadow', cursive;
}

#search {
	margin: auto;
	color: white;
	background: url(http://www.clker.com/cliparts/z/1/T/u/9/2/search-icon-hi.png) no-repeat scroll 7px 7px;
	background-size: 30px auto;
	background-position: right center;
	padding-left: 5px;
	border-radius: 9px;
	border: 2px solid white;
}
