@charset 'utf-8';

@import 'normalize-rails';
@import "bootstrap-sprockets";
@import "bootstrap";

.money {
  float: right;
  color: green;
  font-weight: bold;
  padding-right: 1em;
}

.grid {
  padding: 2em;
}